<div class="single-course-card col-2 d-flex flex-column">
    <div class="single-course-card-image-container w-100 position-relative">
        <img src="{{asset(course.getImagePath())}}" class="w-100 h-100 rounded">

        <button class="btn btn-{% if user and user.favCourses.contains(course) %}primary{% else %}light{% endif %} rounded-circle position-absolute" 
                onclick="window.location.replace('/fav/add/{{course.id}}')">
            <i class="far fa-heart"></i>
        </button>

        <div class="single-course-teacher-container text-light fw-medium position-absolute">
            <img src="{{asset('images/users/1.png')}}">
            {{course.getCreator().getFname()}} {{course.getCreator().getLname()}}
        </div>
    </div>

    
    <div class="w-100 p-4 pb-0">
        <h4 class="text-wrap">{{course.title}}</h4>
        <div class="col-10 d-flex justify-content-between mt-4">
            <div class="d-flex align-items-center gap-2">
                <div class="single-course-card-circle-option"><i class="fa fa-briefcase"></i></div>
                <span>Advance</span>
            </div>
            <div class="d-flex align-items-center gap-2">
                <div class="single-course-card-circle-option"><i class="fa fa-users"></i></div>
                <span>14</span>
            </div>
            <div class="d-flex align-items-center gap-2">
                <div class="single-course-card-circle-option"><i class="fa fa-star text-warning"></i></div>
                <span>5.0</span>
            </div>
        </div>
    </div>

    <hr>

    <div class="w-100 px-4 py-0 d-flex justify-content-between align-items-center">
        <h4 class="fw-bold">${{course.price}}</h4>

        <a href="#" class="text-decoration-none text-reset">
            <i class="fa fa-shopping-bag me-1"></i>
            <span class="fw-medium">Add to cart</span>
        </a>
        
    </div>
</div>