{% extends './base.html.twig' %} 
{% block title %}Signup{% endblock %} 
{% form_theme registrationForm 'form/signup.errors.html.twig' %}    

{% block body %}

<div id="signup-container">
  <div class="container position-relative d-flex justify-content-between align-items-center h-100 p-5">
    <div class="col-5 h-100 rounded bg-white ">

      {# start: form container #}
      <div class="bg-white p-5 rounded">
        {{ form_start(registrationForm) }}
        <h3 class="fw-bolder">SIGN UP</h3>

        {# start: first & last name #}
        <div class="row">
          <div class="col-6">
            <div class="form-group my-1">
              <label for="{{registrationForm.fname.vars.id}}">{{ form_label(registrationForm.fname) }}</label>
              {{ form_widget(registrationForm.fname) }}
              {{ form_errors(registrationForm.fname) }}
            </div>
          </div>

          <div class="col-6">
            <div class="form-group my-1">
              <label for="{{registrationForm.lname.vars.id}}">{{ form_label(registrationForm.lname) }}</label>
              {{ form_widget(registrationForm.lname) }}
              {{ form_errors(registrationForm.lname) }}
            </div>
          </div>
        </div>
        {# end: first & last name #}

        {# start: phone + ext #}
        <div >
            <label for="{{registrationForm.phone.vars.id}}">{{ form_label(registrationForm.phone) }}</label>
            <div class="row mx-0" id="signup-phone-sub-container">
                <div class="px-0" id="signup-phone-sub-container-ext-container">
                    <div class="form-group my-1 h-100">
                    {{ form_widget(registrationForm.phone_ext) }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group my-1 h-100">
                    {{ form_widget(registrationForm.phone) }}
                    </div>
                </div>
            </div>
            {{ form_errors(registrationForm.phone) }}
            {{ form_errors(registrationForm.phone_ext) }}
        </div>
        {# end: phone + ext #}

        {# start: email #}
        <div class="row">
            <div class="form-group my-1">
                <label for="{{registrationForm.email.vars.id}}">{{ form_label(registrationForm.email) }}</label>
                {{ form_widget(registrationForm.email) }}
                {{ form_errors(registrationForm.email) }}
            </div>
        </div>
        {# end: email #}

        {# start: password #}
        <div class="row">
            <div class="col-6">
                <div class="form-group my-1">
                    <label for="{{registrationForm.password.first.vars.id}}">{{ form_label(registrationForm.password.first) }}</label>
                    <div class="position-relative password-toggler-container"> 
                      {{ form_widget(registrationForm.password.first) }}
                    </div>
                    {{ form_errors(registrationForm.password.first) }}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group my-1">
                    <label for="{{registrationForm.password.second.vars.id}}">{{ form_label(registrationForm.password.second) }}</label>
                    <div class="position-relative password-toggler-container">
                      {{ form_widget(registrationForm.password.second) }}
                    </div>
                    {{ form_errors(registrationForm.password.second) }}
                </div>
            </div>
        </div>
        {# end: password #}

        {# start: terms #}
        <div class="row">
            <div class="form-group my-1">
                {{ form_widget(registrationForm.agreeTerms) }}
                <label for="{{registrationForm.agreeTerms.vars.id}}" class="form-check-label">{{ form_label(registrationForm.agreeTerms) }}</label>
                {{ form_errors(registrationForm.agreeTerms) }}
            </div>
        </div>
        {# end: terms #}

        <button type="submit" class="btn btn-primary col-12 mt-4">submit</button>
        
        {{ form_end(registrationForm) }}
      </div>
      {# end: form container #}
    </div>
  </div>
</div>
{% endblock %}


{% block javascripts %}
  <script src="{{asset('js/auth.js')}}"></script>
{% endblock %}